@model ShopApp.ViewModels.InventoryViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Inventory";
    ViewData["Stylesheet"] = "~/css/forms.css";
}

<div class="form-container">
    <div class="form-box">
        <h1>Enter inventory information</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="input-group">
                <label asp-for="ProductId">Product</label>
                <select asp-for="ProductId"
                        asp-items="@(new SelectList(Model.Products, "ProductID", "ProductName"))"
                        class="select-input">
                    <option value="">-- Select product --</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>


            <div class="input-group">
                <label asp-for="Quantity">Quantity</label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <button type="submit" class="form-button">Add category</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/localization/messages_pl.min.js"></script>
    <script src="~/js/forms.js"></script>
}
